API_ID=
API_HASH=
BOT_TOKEN=
OWNER_ID=8681820826
MONGO_URL=
TMDB_API_KEY=64497c389b3440d0a40f0c7e5664248f
AUTH_CHANNEL=
FSUB=False
LOGGER_GROUP_ID=-1003913785429
SUPPORT_GROUP=DragonByte_Network
UPDATES_CHANNEL=DragonByte_Network
